{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <section class="main">
        <div class="main__title">СИСТЕМЫ ВИДЕОРЕГСТРАЦИИ</div>
    </section>

    <section class="input__file-blocks">
        <div class="input__file-blocks-wrapper">
            <div class="input__file-block1">
                {% if request.user.is_authenticated %}
                    вы успешно вошли на сайт
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}