{% extends 'core/base.html' %}


{% block content %}

    <section class="main">
        <div class="main__links">
            <a href="{% url 'admin_upload' %}" class="main__link">Загрузить</a>
            <a href="{% url 'admin_send' %}" class="main__link">Разослать</a>
        </div>
        <div class="main__title">СИСТЕМЫ ВИДЕОРЕГСТРАЦИИ</div>
    </section>

    {% if request.user.is_authenticated %}
        <section class="input__file-blocks">
            <div class="input__file-blocks-wrapper">
                <form method="post" enctype="multipart/form-data" action="{% url 'admin_send' %}">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">ОТПРАВИТЬ</button>
                </form>
            </div>
        </section>
    {% endif %}

{% endblock %}